---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="導入事例 | 合同会社EXIL">
  <section class="container" style="padding:70px 20px; max-width:1000px;">
    
    <div class="badge">Case Studies</div>
    <h1 class="h1">導入事例</h1>

    <p class="p" style="max-width:760px;">
      合同会社EXILが支援させていただいたインフラ構築・運用案件の一例をご紹介します。
    </p>

    <hr class="hr" />

    <!-- 事例1 -->
    <div class="card" style="margin-top:30px;">
      <h2 class="h2">2019年11月～2020年04月　プライベートクラウド向けインフラ基盤構築<br/>自動車会社様向け</h2>

      <p style="color:var(--muted); margin-top:12px;">
         VMware Edge、auotodeploy、vRA、vROを組み合わせた払い出し基盤の要件定義からリリースまでを実施。<br/>
         サーバインフラ担当の主力として従事。
      </p>
    </div>

    <!-- 事例2 -->
    <div class="card" style="margin-top:30px;">
      <h2 class="h2">2021年10月～2022年03月　プライベートクラウド、SaaSを伴うシステム更改<br/>信販会社様向け</h2>

      <p style="color:var(--muted); margin-top:12px;">
        オンプレミスサーバ、プライベートクラウド基盤および、一部SaaS（運用系サービス）を使用したシステム更改の要件定義からリリースまでを実施。<br/>
        運用システムインフラ担当の主力として従事。
      </p>
    </div>

    <!-- 事例3 -->
    <div class="card" style="margin-top:30px;">
      <h2 class="h2">2022年04月～2024年08月　クラウドシフトを伴うシステム更改<br/>信販会社様向け</h2>

      <p style="color:var(--muted); margin-top:12px;">
        オンプレミスサーバの更改および、一部システムのクラウドリフト（AWSを使用）の方式設計からリリースまでを実施。<br/>
        サーバインフラの主力として従事。
      </p>
    </div>

  </section>
</BaseLayout>