---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="コンプライアンス | 合同会社EXIL">
  <section class="container" style="padding:70px 20px; max-width:900px;">
    <div class="badge">Compliance</div>
    <h1 class="h1">コンプライアンス</h1>

    <p class="p" style="max-width:900px; margin-top:20px;">
      合同会社EXIL（以下、「当社」という）は、「人権侵害防止規程」（以下「規程」という）に基づき、人権侵害の発生を防止するとともに<br/>
      人権侵害に関する救済及び問題解決を適正・迅速に実施し、全ての社員ならびに利害関係者に対し、公正で安全かつ快適に働くことができる良好な就業環境を維持向上するために、以下の通りガイドラインを定め、遵守致します。
    </p>

<hr class="hr" />

    <div class="card" style="line-height:1.9;">

      <!-- 第1条 -->
      <h2 class="h2">第1条（目的）</h2>
      <p>
        本規程は、従業員等が互いに人格と人権を尊重し、差別やハラスメントのない健全な職場環境を確保することを目的とする。
      </p>

      <hr class="hr" />

      <!-- 第2条 -->
      <h2 class="h2">第2条（適用範囲）</h2>
      <p>
        本規程は、当社の役員、従業員、契約社員、派遣社員、アルバイト等、当社の業務に従事するすべての者に適用する。
      </p>

      <hr class="hr" />

      <!-- 第3条 -->
      <h2 class="h2">第3条（基本方針）</h2>
      <p>
        当社は、国際的な人権規範および国内法令を遵守し、差別や人権侵害の防止に努める。<br/>
        また、従業員の多様性を尊重し、互いに尊重し合える職場づくりを推進する。
      </p>

      <hr class="hr" />

      <!-- 第4条 -->
      <h2 class="h2">第4条（禁止事項）</h2>
      <p>
        従業員等は、次に掲げる行為を行ってはならない。<br/>
        &nbsp;&nbsp;●人種、国籍、性別、年齢、障害、宗教、信条、性的指向・性自認等による差別<br/>
        &nbsp;&nbsp;●セクシュアルハラスメント、パワーハラスメント、マタニティハラスメントその他のハラスメント行為<br/>
        &nbsp;&nbsp;●いじめ、嫌がらせ、名誉毀損、誹謗中傷、プライバシー侵害等、人格を傷つける行為<br/>
        &nbsp;&nbsp;●その他、人権を侵害し、職場環境を害する一切の行為<br/>
      </p>

      <hr class="hr" />

      <!-- 第5条 -->
      <h2 class="h2">第5条（相談・通報窓口）</h2>
      <p>
        当社は、人権侵害に関する相談・通報窓口を設置する。<br/>
        また、相談・通報は匿名でも行うことを可能とし、相談・通報を行った者に対し、不利益な取り扱いを行ってはならない。
      </p>

      <hr class="hr" />

      <!-- 第6条 -->
      <h2 class="h2">第6条（調査及び対応）</h2>
      <p>
        相談・通報を受けた場合、当社は迅速かつ公正に事実関係を調査し、調査の過程においての、相談者、被申告者その他関係者のプライバシーを最大限尊重する。<br/>
        なお、人権侵害が認められた場合、当社は速やかに是正措置を講じるとともに、必要に応じて懲戒処分を行う。
      </p>

      <hr class="hr" />

      <!-- 第7条 -->
      <h2 class="h2">第7条（教育・啓発）</h2>
      <p>
        当社は、人権尊重に関する意識の向上を目的として、従業員に対し定期的に教育・啓発活動を行う。
      </p>

      <hr class="hr" />

      <!-- 第8条 -->
      <h2 class="h2">第8条（再発防止）</h2>
      <p>
        当社は、人権侵害事案が発生した場合、その原因を分析し、再発防止策を講じるものとする。<br/>
        また、法令改正や社会情勢の変化に応じて適宜見直しを行う。
      </p>

      <hr class="hr" />


      <!-- 人権侵害に関するお問い合わせ窓口 -->
      <h2 class="h2">人権侵害に関するお問い合わせ窓口</h2>
      <p>
        合同会社EXIL<br/>
        代表&nbsp;&nbsp;鎌田&nbsp;浩臣<br/>
        〒144-0051&nbsp;&nbsp;東京都大田区西蒲田8-24-1<br/>
        info.exil@exil-jp.net<br/>
      </p>


      <hr class="hr" />

      <p style="text-align:right; font-size:14px; color:var(--muted);">
        制定日：2018年8月21日<br/>
        改定日：2026年3月28日<br/>
        合同会社EXIL<br/>
        代表社員　鎌田浩臣
      </p>

    </div>
  </section>
</BaseLayout>