---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="プライバシーポリシー | 合同会社EXIL">
  <section class="container" style="padding:70px 20px; max-width:900px;">
    <div class="badge">Privacy Policy</div>

    <h1 class="h1">プライバシーポリシー</h1>

    <p class="p" style="max-width:900px; margin-top:20px;">
      合同会社EXIL（以下、「当社」という）は、お客様および取引先の情報資産を適切に保護することを重要な責務と認識し<br/>
      下記、「個人情報の取り扱いについて」にある業務内容において、顧客及び社員の個人情報を適切に取り扱っています。
    </p>

<hr class="hr" />

    <h1 class="h2">セキュリティポリシー宣言</h2>

    <p class="p" style="max-width:900px; margin-top:20px;">
      個人情報の保護は当社の事業活動の基本であり、当社の社会的責務であると考えています。<br/>
      そこで当社では、この個人情報保護方針に基づき、個人情報保護マネジメントシステムを確立するとともに実行し<br/>
      事業活動にかかわるすべての従業員が一体となって、個人情報の適切な取り扱いを実現致します。
    </p>

<hr class="hr" />
    <div class="card" style="line-height:1.9;">

      <!-- 第1条 -->
      <h2 class="h2">第1条（個人情報の適切な取得、利用、提供に関して）</h2>
      <p>
        当社は、業務遂行に必要な範囲で個人情報を適切な方法で取得します。<br/>
        個人情報の利用は、特定した利用目的の範囲内とし、利用目的を変更する際には、あらかじめご本人に通知し、同意を得た上でおこないます。個人情報は、法令により認められた場合を除き、本人の同意を得る事なく、第三者に提供することはございません。<br/>
        目的外の利用や提供を防止するため、個人情報の利用および提供は、個人情報保護管理者が、その適正性を確認した上でおこなっています。<br/>
        また、自主点検、内部監査等の活動を通じた統制活動も強化しております。
      </p>

<hr class="hr" />

      <!-- 第2条 -->
      <h2 class="h2">第2条（個人情報保護のための安全管理策)</h2>
      <p>
        ●個人情報の漏えい、滅失、毀損等に対する予防処置<br/>
        &nbsp;&nbsp;当社では、個人情報の漏洩、滅失、き損等を防止するための適切なセキュリティ対策を実施しております。<br/>
        &nbsp;&nbsp;また、これらを徹底するため、従業員への教育・監督をおこなっています。
        &nbsp;&nbsp;個人情報取り扱い業務を社外に委託する場合は、委託先の選定や監督を厳重におこなっております。<br/><br/>
        ●個人情報の漏えい、滅失、毀損等に対する是正処置<br/>
        &nbsp;&nbsp;個人情報の漏えい、滅失、毀損等が発生した場合は、被害拡大防止を最優先とし、速やかに是正処置を講じるとともに、原因究明をおこない、再発防止に努めます。<br/>
        &nbsp;&nbsp;また、事故に関する情報について、必要な範囲で関係者、関係機関に報告します。
      </p>

<hr class="hr" />

      <!-- 第3条 -->
      <h2 class="h2">第3条（法令、国が定める指針、その他の規範の遵守）</h2>
      <p>
        当社は、個人情報の取り扱いに関する法律および関連法令、国が定める指針、所属団体等の規範等を遵守します。
      </p>

<hr class="hr" />

      <!-- 第4条 -->
      <h2 class="h2">第4条（個人情報保護マネジメントシステムの継続的改善）</h2>
      <p>
        当社は、個人情報の保護に関するマネジメントシステムを実行し、維持するとともに定期的に見直しをおこない、継続的改善に努めます。
      </p>

<hr class="hr" />

      <!-- 第5条 -->
      <h2 class="h2">第5条（個人情報に関する苦情、相談への対応）</h2>
      <p>
        当社に対して、個人情報の取り扱いに関する苦情、相談を行う場合は、下記の「個人情報お問い合わせ窓口」までご連絡ください。<br/>
        また、当社の個人情報保護に関するお問い合わせについても同窓口にて承ります。
      </p>

<hr class="hr" />

      <!-- 個人情報について -->
      <h2 class="h2">個人情報について</h2>
      <p>
        ●インフラ開発事業<br/>
        &nbsp;&nbsp;・個人や顧客（法人）が取り扱う顧客情報の管理<br/>
        &nbsp;&nbsp;・システムが取り扱う機密情報<br/><br/>
        ●その他<br/>
        &nbsp;&nbsp;・採用に関する応募者の個人情報<br/>
        &nbsp;&nbsp;・当社役職員および社員の名刺<br/>
        &nbsp;&nbsp;・不動産賃貸等の顧客情報の管理<br/>
        &nbsp;&nbsp;・パートナー（BP）に関する法人/個人の情報<br/>
      </p>

<hr class="hr" />

      <!-- 個人情報に関するお問い合わせ窓口 -->
      <h2 class="h2">個人情報に関するお問い合わせ窓口</h2>
      <p>
        合同会社EXIL<br/>
        〒144-0051 東京都大田区西蒲田8-24-1<br/>
        info.exil@exil-jp.net<br/>
        受付時間 平日10:00〜18:00<br/>
      </p>

<hr class="hr" />

      <p style="text-align:right; font-size:14px; color:var(--muted);">
        制定日：2018年8月21日<br/>
        改定日：2026年3月28日<br/>
        合同会社EXIL<br/>
        代表社員　鎌田浩臣
      </p>
    </div>

  </section>
</BaseLayout>